<div class="container">
  <h1 class="header">Optical Character Recognition</h1>

  <div class="upload-container">
    <input type="file" (change)="onFileSelected($event)" class="upload-input">
    <button (click)="recognizeImage()" class="upload-button">Recognize</button>
  </div>

  <div class="content">
    <div class="image-container" *ngIf="selectedFile">
      <img [src]="selectedImageUrl" alt="Uploaded Image" class="uploaded-image">
    </div>

    <div class="recognized-text-container" *ngIf="recognizedText">
      <h2 class="result-header">Recognized Text: {{ accuracyPercentage }}% </h2>
      <div class="recognized-text">{{ recognizedText }}</div>
      <div class="recognized-text">ID Type: {{ idType }}</div>      
    </div>
  </div>

  <div *ngIf="showPreloader" class="preloader">
    <div class="loader"></div>
  </div>
</div>

<router-outlet></router-outlet>
